<a href="https://colab.research.google.com/github/jmargolis32/GoogPooz/blob/main/Jupyter_Jupiiter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from pandas.io.json import json_normalize

## Connect to our service account
scope = ['https://spreadsheets.google.com/feeds']
credentials = ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope)
gc = gspread.authorize(credentials)

In [5]:
spreadsheet_key = '1f0OwtmuTk1fTdhnn4tuvVcPCZjdb00D79dWw4RFhYs0'
book = gc.open_by_key(spreadsheet_key)
worksheet = book.worksheet("Candidate Data")
table = worksheet.get_all_values()
table[:8]

[['Order',
  'Candidate',
  'Position',
  'Start Date',
  'End Date',
  'Years of Experience',
  'Points',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['45',
  'Donald Trump',
  'President',
  '1/20/2017',
  '1/20/2021',
  '4.002739726',
  '104',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['45',
  'Donald Trump',
  'Secretary of State',
  '',
  '',
  '0',
  '0',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['45',
  'Donald Trump',
  'Secretary of Defense',
  '',
  '',
  '0',
  '0',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['45',
  'Donald Trump',
  'Secretary of Treasury',
  '',
  '',
  '0',
  '0',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['45',
  'Donald Trump',
  'Vice President',
  '',
  '',
  '0',
  '0',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['45',
  'Donald Trump',
  'Attorney General',
  '',
  '',
  '0',
  '0',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['45',
  'Donald Trump',
  'Military Supreme Commander',
  '',
  '',
  '0',
  '0',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '']]

In [6]:
df = pd.DataFrame(table[1:], columns=table[0])

##Only keep columns we need
df = df[['Order', 'Candidate', 'Position', 'Start Date', 'End Date', 'Years of Experience', 'Points']]

##Convert number strings to floats and ints
df = df.apply(pd.to_numeric, errors='ignore')

##Convert date strings to datetime format
df['End Date'] = pd.to_datetime(df['End Date'],infer_datetime_format=True)
df['Start Date'] = pd.to_datetime(df['Start Date'],infer_datetime_format=True)

df.head()

   Order     Candidate  ... Years of Experience Points
0     45  Donald Trump  ...             4.00274  104.0
1     45  Donald Trump  ...             0.00000    0.0
2     45  Donald Trump  ...             0.00000    0.0
3     45  Donald Trump  ...             0.00000    0.0
4     45  Donald Trump  ...             0.00000    0.0

[5 rows x 7 columns]

In [7]:
candidate_groups = df.groupby('Candidate')
scores_df = candidate_groups.sum()
scores_df['Order'] = candidate_groups.first()
scores_df.head()

                  Order  Years of Experience  Points
Candidate
Abraham Lincoln      16             6.336986  114.00
Andrew Jackson        7            19.884932  246.85
Andrew Johnson       17            25.443836  204.45
Barack Obama         44            12.054795  208.55
Benjamin Harrison    23            12.887671  137.70

In [1]:
from df2gspread import df2gspread as d2g
wks_name = 'Jupyter Manipulated Data'
d2g.upload(scores_df, spreadsheet_key, wks_name, credentials=credentials, row_names=True)

NameError: ignored

In [9]:
!pip install df2gspread

Collecting df2gspread
  Downloading https://files.pythonhosted.org/packages/56/c3/fc3801749129df5632deeb7b9b9ef758a0ea6a4498c207a9eb4ac36deffb/df2gspread-1.0.4.tar.gz
Collecting argparse>=1.3.0
  Downloading https://files.pythonhosted.org/packages/f2/94/3af39d34be01a24a6e65433d19e107099374224905f1e0cc6bbe1fd22a2f/argparse-1.4.0-py2.py3-none-any.whl
Collecting google-api-python-client==1.6.7
  Downloading https://files.pythonhosted.org/packages/eb/6c/8c1781a251beb3bc1670d6d1934da51620a049380ea7a6a821099f884b62/google_api_python_client-1.6.7-py2.py3-none-any.whl (56kB)
     |████████████████████████████████| 61kB 3.4MB/s
Requirement already satisfied: gspread>=2.1.1 in /usr/local/lib/python3.6/dist-packages (from df2gspread) (3.0.1)
Requirement already satisfied: oauth2client<5.0.0dev,>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from df2gspread) (4.1.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from df2gspread) (1.1.4)
Requirement already satisfied: httplib2<1dev,>=0.9.2 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client==1.6.7->df2gspread) (0.17.4)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client==1.6.7->df2gspread) (1.15.0)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client==1.6.7->df2gspread) (3.0.1)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.6/dist-packages (from gspread>=2.1.1->df2gspread) (2.23.0)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client<5.0.0dev,>=1.5.0->df2gspread) (0.4.8)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client<5.0.0dev,>=1.5.0->df2gspread) (0.2.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client<5.0.0dev,>=1.5.0->df2gspread) (4.6)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas->df2gspread) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->df2gspread) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->df2gspread) (2018.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread>=2.1.1->df2gspread) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread>=2.1.1->df2gspread) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread>=2.1.1->df2gspread) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread>=2.1.1->df2gspread) (3.0.4)
Building wheels for collected packages: df2gspread
  Building wheel for df2gspread (setup.py) ... done
  Created wheel for df2gspread: filename=df2gspread-1.0.4-cp36-none-any.whl size=11955 sha256=9ce0f83c51450c0ea0ff11e2dbbbb13a18ad23a4507742c1f16f7b0c883f2475
  Stored in directory: /root/.cache/pip/wheels/19/d2/15/07b0a45a18edadbf0bb3a5655e997925e2b9cbf08b4a95342e
Successfully built df2gspread
ERROR: firebase-admin 4.4.0 has requirement google-api-python-client>=1.7.8, but you'll have google-api-python-client 1.6.7 which is incompatible.
Installing collected packages: argparse, google-api-python-client, df2gspread
  Found existing installation: google-api-python-client 1.7.12
    Uninstalling google-api-python-client-1.7.12:
      Successfully uninstalled google-api-python-client-1.7.12
Successfully installed argparse-1.4.0 df2gspread-1.0.4 google-api-python-client-1.6.7